* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Panels. */

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.panel .content {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    color: #FFF;
}

.panel .description {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.panel img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    background-image: linear-gradient(to left, #26547c, #1d6a92, #0c80a5, #0098b6, #00afc4, #3ebdd3, #5dcae2, #77d8f1, #a8dffd, #cfe7ff, #edf2ff, #ffffff);
    z-index: 1;
}

.bottom .description {
    right: 5%;
}

.top {
    position: relative;
    background-image: linear-gradient(to right, #f2994a, #f5a64b, #f8b44c, #f9c14f, #f9cf54);
    z-index: 2;
    width: 50vw;
}

.top .description {
    left: 5%;
}


/* Handle. */

.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(253, 171, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}


/* Skewed. */

.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}